<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">

    <title>IIT Kanpur | Share</title>
<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.css">-->
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="http://samarthbansal.com/share-iitk/css/layouts/side-menu.css">
    <!--<![endif]-->
</head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="#">ShareIITK</a>

            <ul>
                <li class="menu-item-divided pure-menu-selected"><a href="/home/">Home</a></li>
                <li><a href="/upload/">Upload New</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>SHARE | IIT Kanpur</h1>
            <h2>Assignments. Quizzes. Exams : All at one place!</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">Search</h2>
            <p>
            <form class="pure-form" action='/search/' method = "GET">
                <fieldset>
                    <legend>Search by course name, code!</legend>

                    <div class="pure-control-group">
                        <label for="dept">Course Code</label>
                        <select id="dept" name = 'dep_code' required>
                             <option>AE</option>
                             <option>ART</option>
                             <option>BSE</option>
                             <option>CE</option>
                             <option>CHE</option>
                             <option>CHM</option>
                             <option>CS</option>
                             <option>DES</option>
                             <option>ECO</option>
                             <option>EE</option>
                             <option>EEM</option>
                             <option>ENG</option>
                             <option>ES</option>
                             <option>ESC</option>
                             <option>ESO</option>
                             <option>IME</option>
                             <option selected = 'selected'>PHY</option>
                             <option>LIF</option>
                             <option>LT</option>
                             <option>MBA</option>
                             <option>ME</option>
                             <option>MSE</option>
                             <option>MSO</option>
                             <option>MTH</option>
                             <option>NT</option>
                             <option>PHI</option>
                             <option>PHY</option>
                             <option>PSY</option>
                             <option>SE</option>
                             <option>SOC</option>
                             <option>TA</option>
                        </select>                        

                        <input id="course-code" type="text" placeholder="103" name = 'course_code' required>
                        <select id="category" name = 'category' required>
                            <option>Assignment</option>
                            <option>Quiz</option>
                            <option>Mid Sem Exam</option>
                            <option>End Sem Exam</option>
                            <option>E-Book</option>
                            <option>All</option>
                        </select>   
                        <button type="submit" class="pure-button pure-button-primary">Search</button>                    
                    </div>
                </fieldset>

            </form>            
            </p>
        </div>

        <div class = "content">
            <style scoped>

                .button-success,
                .button-error,
                .button-warning,
                .button-secondary {
                    color: white;
                    border-radius: 4px;
                    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                }

                .button-success {
                    background: rgb(28, 184, 65); /* this is a green */
                }       
            </style>     
            {%if list%}
            <table class="pure-table table-hover table-bordered">
                <tr>
                    <td>Course Code</td>
                    <td>Course Name</td>
                    <td>Category</td>
                    <td>Year</td>
                    <td>Professor</td>
                    <td>Download</td>
                </tr>                
                {%for i in list%}
                <tr>
                    <td>{{i.department_code}}{{i.course_code}}</td>
                    <td>{{i.course_name}}</td>
                    <td>{{i.category}}</td>
                    {%if i.year%}
                        <td>{{i.year}}</td>
                    {%else%}
                        <td>NA</td>
                    {%endif%}

                    {%if i.prof%}
                        <td>{{i.prof}}</td>
                    {%else%}
                        <td>NA</td>
                    {%endif%}                    
                    <td><a href = "{{i.file_url}}" target = "_blank">Download</a></td>                
                </tr>
                {%endfor%}
            </table>            
            {%else%}
                <a href = "/explore/" ><button class="button-success pure-button">Explore All Files!</button></a>
            {%endif%}
        </div>
        
    </div>
</div>
<script src="js/ui.js"></script>


</body>
</html>
